<html>
<head>
    <!--        <meta charset="UTF-8">-->
    <!-- Compiled and minified CSS -->
    <!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->

    <!-- Custom CSS-->
    <!--        <link rel="stylesheet" href="/css/main_styles.css">-->

    <!-- Materialize Icons -->
    <meta name="description" content="VTOP : An Official VIT, Vellore Web Portal" />
    <meta name=”robots” content=”NOODP,NOYDIR” />
    <meta name="keywords" content="VTOP, vtop, SDC,sdc "/>
    <base href="https://vtop.vit.ac.in/vtop/"/>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>


    <title>Vellore Institute of Technology (VIT)</title>



    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>VIT Vellore - VTOP</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <link rel="stylesheet" href="http://localhost:3000/assets/jquery-ui.css"/>
    <link rel="stylesheet" href="http://localhost:3000/assets/bootstrap.css" />
    <link rel="stylesheet" href="http://localhost:3000/assets/bootstrapValidator.css"/>
    <link rel="stylesheet" href="http://localhost:3000/assets/font-awesome.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/assets/AdminLteCompatibility.css"/>
    <link rel="stylesheet" href="http://localhost:3000/assets/VTopScrollbar.css"/>
    <link rel="stylesheet" href="http://localhost:3000/assets/VTop.css"/>
    <link rel="stylesheet" href="http://localhost:3000/assets/scrollableTable.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="http://localhost:3000/assets/jquery-3.3.1.js"></script>
</head>
<body>

<div id="page_outline">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#2980B9;color:#EAF2F8">
        <div class="container">
            <img src="http://localhost:3000/vitlogo.png" class="img-responsive pull-left" alt="User Image" width="200" height="75">
            <h3 class="pull-right" style="color: #fff;font-family:Times; font-size: 24px;">VTOP (Vellore Campus)</h3>
        </div>
    </nav>
</div>

<div id="page-wrapper">


    <div class="row" style="margin-left: auto; margin-right: auto; width: 90%">

        <div class="col-md-4" style="padding-top: 10px;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title" style="font-weight: bold;">VTOP for Employee and Students</h4>
                </div>
                <div class="box-body">
                    <h5 class="text-primary" style="font-weight: bold;">With responsive fresh look and feel.</h5>
                </div>
                <div class="box-footer">
                    <div class="input-group pull-right">
                        <button type="submit" class="btn btn-primary btn-flat" onclick="javascript:window.location.href='http://localhost:3000/login'">Login to VTOP</button>
                    </div>
                </div>
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h4 class="box-title" style="font-weight: bold;">VTOP for Parents</h4>
                </div>
                <div class="box-body">
                    <h5 class="text-primary" style="font-weight: bold;">With more information about
                        students</h5>
                </div>
                <div class="box-footer">
                    <div class="input-group pull-right">
                        <button type="submit" class="btn btn-success btn-flat" onclick="openParentPage()">Parent Login</button>
                    </div>
                </div>
            </div>
            <div class="box box-info box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title" style="font-weight: bold;">VTOP for Alumni</h4>
                </div>
                <div class="box-body">
                    <h5 class="text-primary" style="font-weight: bold;">Introduced with Transcript Services</h5>
                </div>
                <div class="box-footer">
                    <div class="input-group pull-right">
                        <button type="submit" class="btn btn-info btn-flat" onclick="openAlumniPage()">Alumni Login</button>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-8" style="padding-top: 10px;">


            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title text-center" style="font-weight: bold;">Spotlight</h4>
                </div>
                <div class="box-body">

                    <ul class="news-slice">
                        <li class="text-primary news_card_text">
                            <p>


                                <a class="flash-link" target="_blank" href="https://drive.google.com/drive/folders/1tbQoBpR2pdsVdfDBzE0fj0Lhjfw9vONt"><span>B.Tech-Freshers_CompleteInfo</span></a>


                            </p>
                        </li>
                    </ul>

                </div>
            </div>


        </div>
    </div>

</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->
<!--    <script src="/js/ajax_request.js"></script>-->
<script src="http://localhost:3000/assets/jquery-3.3.1.js"></script>
<script src="http://localhost:3000/assets/moment.js"></script>
<script src="http://localhost:3000/assets/jquery.hotkeys.js"></script>
<script src="http://localhost:3000/assets/jquery.slimscroll.js"></script>
<script src="http://localhost:3000/assets/jquery.blockUI.js"></script>
<script src="http://localhost:3000/assets/jquery-ui.js"></script>
<script src="http://localhost:3000/assets/popper.js"></script>
<script src="http://localhost:3000/assets/bootstrap.js"></script>
<script src="http://localhost:3000/assets/bootstrapValidator.js"></script>
<script src="http://localhost:3000/assets/vtop-validation.js"></script>
<script type="text/javascript" src="http://localhost:3000/assets/vit-custom.js"></script>
<script type="text/javascript" src="http://localhost:3000/assets/jquery.validationEngine-en.js" ></script>
<script type="text/javascript" src="http://localhost:3000/assets/jquery.validationEngine.js" ></script>
</body>
</html>
