body{
    background-color: #f0f0f2;
}

nav a{
   width: 100%;
    text-align: center;
}

th, td{
    text-align: center;
}

.search-area,
.results-area{
    color: #222;
    margin-top: 2rem;
    border-radius: 5px;
}

.results-area{
    border: 1px solid #222;
    padding: 2rem;
}